<!DOCTYPE html>
<html lang="en" ng-app="StarWarsAwesomeness">
<head>
    <meta charset="UTF-8">
    <title>Character List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/stylesheet.css">
</head>
<body ng-controller="CharacterController">
<div class="container">
    <section class="section-characters">
        <input class="form-control" type="text" placeholder="Filter Characters" ng-model="searchCharacterText">
        <jedi-list></jedi-list>
        <soldier-list></soldier-list>
    </section>
    <section id="section-character-profile" ng-hide="characterProfile == null">
        <character-profile></character-profile>
        <p><a href="#" ng-click="backToCharacterList()">Back to Character List</a></p>
    </section>
    <p class="section-characters"><a href="../index.html">Back to Index</a></p>
</div>
<!-- jQuery, Bootstrap, Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<!-- Modules -->
<script src="../app/app.js"></script>
<!-- Controllers -->
<script src="../app/controllers/CharacterCtrl.js"></script>
<!-- Directives -->
<script src="../app/directives/jedis.js"></script>
<script src="../app/directives/soldiers.js"></script>
<script src="../app/directives/character.profile.js"></script>
<!-- Custom -->
</body>
</html>