<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" ng-app="StarWarsAwesomeness">
<head>
    <meta charset="UTF-8">
    <title>Character List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/stylesheet.css">
</head>
<body ng-controller="CreateCharacterController">
<div class="container">
    <div id="div-jedi-list" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>AngularJS Id</th>
                <th>mySQL Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Affiliation</th>
                <th>Rank</th>
            </tr>
            </thead>
            <tbody>
            <tr class="capitalized" ng-repeat="jedi in listOfJedis">
                <th>{{ $index }}</th>
                <th>{{ jedi.id }}</th>
                <th>{{ jedi.firstName | lowercase }}</th>
                <th>{{ jedi.lastName | lowercase }}</th>
                <th>{{ jedi.affiliation | lowercase }}</th>
                <th>{{ jedi.rank | lowercase }}</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- jQuery, Bootstrap, Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<!-- Modules -->
<script src="../app.js"></script>
<!-- Controllers -->
<script src="../controllers/createCharacterController.js"></script>
<!-- Directories -->
<!-- Custom -->
</body>
</html>